@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.cta-banner {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background: url("../images/cta/car.png");

    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    width: 40%;
    height: 90%;
    opacity: 0.3;
    bottom: 0;
    right: 0;

    @include desktop {
      width: 20%;
    }
  }

  &__inner {
    @include container;
    padding: 6rem 2rem;

    position: relative;

    display: grid;
    gap: 28px;
    align-items: center;

    overflow: hidden;

    @include desktop {
      grid-template-columns: 1fr auto;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    max-width: 620px;
  }

  .btn {
    margin-top: 28px;
  }
}
