@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.hero {
  position: relative;
  min-height: calc(100vh - 126px);
  overflow: hidden;
  padding: 5.625rem 0;
  @include flex-center;

  background:
    radial-gradient(
      circle at center,
      rgba(47, 140, 255, 0.12) 0%,
      rgba(47, 140, 255, 0.04) 25%,
      transparent 60%
    ),
    linear-gradient(
      180deg,
      $color-black 0%,
      $color-navy 100%
    );

  isolation: isolate;

 

  @include desktop {
    padding: 5rem 0 5.625rem 0;
  }

  &__content {
    max-width: 660px;
    margin: 0 auto;
    text-align: center;
  }

  &__highlights {

    @include flex-center;

    position: relative;
    z-index: 2;
    gap: 1rem;

    @include tablet {
      gap: 2.5rem;
    }

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
      gap: 5.625rem;
    }
  }

   &__highlight {
    position: relative;

    padding-left: 24px;

    &::before {
      content: "";

      position: absolute;
      top: 6px;
      left: 0;

      width: 1px;
      height: calc(100% - 12px);

      background: linear-gradient(180deg, rgba($color-blue-soft, 0.52), rgba($color-white, 0.06));
    }

    p {
      margin-top: 10px;
      color: $color-gray-light;
      font-size: 12px !important;
      line-height: 1.5;
      font-weight: 400;

      letter-spacing: 0.04em;
    }
  }

  &__highlight-number {
    display: block;

    font-family: $font-heading;

    font-size: clamp(22px, 3vw, 30px);

    font-weight: 300;

    line-height: 0.88;

    letter-spacing: -0.07em;
  }

  h1 {
    @include title-h1;

    margin-bottom: clamp(1rem, 8vw, 2rem);
  }

  p {
    line-height: 1.7;
  }

  &__actions {
    @include flex-center;
    gap: 16px;

    margin-top: 50px;

    flex-wrap: wrap;
  }

  &__img {
    margin: clamp(32px, 8vw, 45px) auto clamp(32px, 8vw, 45px) auto;
    max-width: 1000px;
    width: 100%;
    height: auto;
  /*   filter:
    drop-shadow(0 0 40px rgba(255,255,255,0.08))
    drop-shadow(0 0 80px rgba(47,140,255,0.12)); */
   
  }


  /* &__img {
    max-width: 1200px;
    width: 100%;
    background-image: url(../images/hero/hero.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  } */
}

.hero-light {
  position: absolute;

  width: 40rem;
  height: 40rem;

  background: radial-gradient(
    circle,
    rgba(47, 140, 255, 0.12),
    transparent 70%
  );

  top: 20%;
  left: 50%;

  transform: translateX(-50%);

  filter: blur(60px);
  z-index: -3;

}


