@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.hero {
  position: relative;
  min-height: calc(100vh - 126px);
  overflow: hidden;
  padding: 5.625rem 0;
  @include flex-center;

  @include desktop {
      padding: 1.875rem 0 5.625rem 0;
    }

  &__content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }

  &__highlights {
    margin-top: clamp(32px, 8vw, 45px);

   @include flex-center;

    position: relative;
    z-index: 2;

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
      gap: 48px;
    }
  }

 /*  &__highlight {
    position: relative;

    padding-left: 24px;

    &::before {
      content: "";

      position: absolute;
      top: 6px;
      left: 0;

      width: 1px;
      height: calc(100% - 12px);

      background: linear-gradient(180deg, rgba($color-blue-soft, 0.52), rgba($color-white, 0.06));
    }

    p {
      margin-top: 10px;
      color: $color-gray-light;
      font-size: 12px !important;
      line-height: 1.5;
      font-weight: 400;

      letter-spacing: 0.04em;
    }
  }

  &__highlight-number {
    display: block;

    font-family: $font-heading;

    font-size: clamp(22px, 3vw, 30px);

    font-weight: 300;

    line-height: 0.88;

    letter-spacing: -0.07em;
  } */

  h1 {
    @include title-h1;

    margin: 18px 0 26px;
  }

  p {
    line-height: 1.7;
  }

  &__actions {
    @include flex-center;
    gap: 16px;

    margin-top: 50px;

    flex-wrap: wrap;
  }
}
