@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.reviews {
  text-align: center;

 
 
  &__text {
    margin-top: 28px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.65;
  }

  &__rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;


    span {
      font-family: $font-heading;
      font-size: 42px;
      font-weight: 300;
      letter-spacing: -0.05em;
    }

    p {
      color: #d8b45a;
      font-size: 22px;
      letter-spacing: 0.08em;
    }
  }

 

  &__grid {
    display: flex;
    gap: $gap-sm;
    margin: 3rem 0;
  }

  &__stat {
    position: relative;

    @include tablet {
      &:not(:last-child)::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;

        width: 1px;
        height: 100%;

        background: rgba($color-white, 0.08);
      }
    }

    span {
      display: block;

      font-family: $font-heading;
      font-size: clamp(28px, 3vw, 42px);
      font-weight: 300;
      letter-spacing: -0.05em;
    }

    p {
      margin-top: 6px;

      font-size: 14px;
      line-height: 1.5;
    }
  }

}

.review-card {
  min-height: 230px;
  padding: 28px;
  width: 25rem;
  text-align: start;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: $radius-sm;
  border: 1px solid rgba($color-white, 0.06);

  background: linear-gradient(
    180deg,
    rgba($color-white, 0.035),
    rgba($color-white, 0.015)
  );

  transition:
    transform 0.35s ease,
    border-color 0.35s ease,
    background 0.35s ease;

  &:hover {
    border-color: rgba(127, 151, 199, 0.24);
    background: linear-gradient(
      180deg,
      rgba($color-white, 0.045),
      rgba($color-blue, 0.025)
    );
  }

  &__stars {
    margin-bottom: 22px;

    color: #d8b45a;
    font-size: 15px;
    letter-spacing: 0.14em;
  }

  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.65;
  }

  &__footer {
    display: grid;
    gap: 4px;

    margin-top: 28px;

    span:first-child {
      font-size: 14px;
    }

    span:last-child {
      font-size: 13px;
    }
  }
}
