@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.icon-round {
  @include flex-center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: $color-glass;
  position: relative;
  transition: $transition;
  &:hover{
    background: $color-glass-hover;
  }
}